# Ignore result and log directories
results_data/
err/
out/
neighbors_data/
params/

main.jl
dp_perc.jl
inspect.jl
inspect_rho_ss.jl
run_job.slurm
submit_job.sh
submit_job_singles.sh

# Ignore hidden system files
*.DS_Store
*.swp

